/* https://github.com/Alexays/Waybar/wiki/Styling */

window {
  font-family: "Cascadia Code", "Symbols Nerd Font Mono";
  color: #fff;
}

.modules-left > widget > *,
.modules-right > widget > * {
  margin: 4px 10px;
  border-radius: 3px;
  padding: 0px 6px;
}

window#waybar > box {
  padding: 0 12px;
}

window#waybar.hidden {
  background-color: transparent;
}

window#waybar.bottom > box {
  border-top: solid 2px #3d414c;
}

window#waybar.top > box {
  border-bottom: solid 2px #3d414c;
}

window > box {
  background-color: #262a2f;
}

tooltip {
  font-family: "Cascadia Code", "Symbols Nerd Font";
  background: #21252b;
  border: 1px solid #3d414c;
}

tooltip label {
  color: white;
}

widget > label:hover {
  background-color: #404652;
}

#clock {
  font-weight: bold;
}

#network.disconnected {
  color: #e06c75;
}

#tray > .passive,
#tray > .active,
#tray > .needs-attention {
  margin: 4px;
  border-radius: 4px;
}

#tray > * > * {
  min-width: 24px;
  min-height: 24px;
}

#tray > .passive:hover,
#tray > .active:hover {
  background-color: #404652;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
/* https://github.com/Alexays/Waybar/wiki/Module:-Hyprland */

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #abb2bf;
  border-bottom: 3px solid transparent;
}

#workspaces button.focused {
  color: #61afef;
  background-color: green;
  border-bottom: 3px solid #61afef;
}

#workspaces button.urgent {
  background-color: #e06c75;
  color: #282c34;
}

#workspaces button:hover {
  background: rgba(171, 178, 191, 0.1);
  box-shadow: inherit;
  text-shadow: inherit;
}

window#waybar.empty #window {
  background-color: transparent;
}

window#waybar.fullscreen {
  opacity: 0;
}

#custom-logo {
  font-size: 18px;
}

#custom-notification:hover {
  background-color: #404652;
}

#custom-power {
  font-size: 14px;
}

#custom-notification {
  font-size: 16px;
}

.modules-left > widget:first-child > * {
  margin-left: 0;
}

.modules-right > widget:last-child > * {
  margin-right: 0;
}

/* Taskbar Styling */
#taskbar {
  background-color: transparent;
}

#taskbar button {
  padding: 0 8px;
  color: #abb2bf;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;

  border-color: #282c34;
}

#taskbar button.active {
  background-color: #404652;
  color: white;
  font-weight: bold;
  border-bottom: 3px solid #38a755;
}

#taskbar button.minimized {
  color: #5c6370; /* Dimmed color for minimized windows */
}

#taskbar button.maximized {
  /* Optional: differentiate maximized windows, perhaps a brighter text */
  color: #ffffff;
}

#taskbar button.fullscreen {
  /* Optional: visual cue for fullscreen windows */
  background-color: rgba(97, 175, 239, 0.1);
}

#taskbar.empty {
  background-color: transparent;
}

#taskbar button:hover {
  background: rgba(171, 178, 191, 0.1);
  box-shadow: inherit;
  text-shadow: inherit;
}
