.DS_STORE
node_modules

local.fish
.cursor/

home/.config/karabiner/assets/complex_modifications
home/.config/karabiner/automatic_backups
home/.config/ghostty/local
home/.config/dconf/user
home/.config/fish/fish_variables
