.DS_STORE

.cinnamon/spices.cache

.local/share/applications/mimeapps.list
.local/share/applications/mimeinfo.cache
.local/share/applications/google-chrome.desktop
.config/cinnamon/spices/Cinnamenu@json/

local.fish

.config/fish/fish_variables

# generated configs
.config/fish/conf.d/brew.fish
.config/fish/conf.d/fzf.fish
.config/fish/conf.d/zoxide.fish
.config/fish/conf.d/fly.fish

.config/karabiner/assets/complex_modifications
.config/karabiner/automatic_backups

.config/ghostty/local
.config/jgh/config.json

.hurl/

.gitconfig

node_modules
.config/dconf/user.txt-lock