bin/
obj/

.DS_STORE

.cinnamon/spices.cache
.config/Code/*
!.config/Code/User/
.config/Code/User/globalStorage
.config/Code/User/workspaceStorage
.config/Code/User/History
.config/Code/User/sync
.local/share/applications/mimeapps.list
.local/share/applications/mimeinfo.cache
.local/share/applications/google-chrome.desktop
.config/cinnamon/spices/Cinnamenu@json/

local.fish

.config/fish/themes/
.config/fish/functions/

.config/fish/completions/*
!.config/fish/completions/aws.fish
!.config/fish/completions/sam*.fish

.config/fish/conf.d/*
!.config/fish/conf.d/prompt.fish
