/* https://github.com/Alexays/Waybar/wiki/Styling */

window {
  font-family: "Cascadia Code", "Symbols Nerd Font Mono";
  color: #fff;
}

window#waybar > box {
  padding: 0 12px;
}

window#waybar.hidden {
  background-color: transparent;
}

window#waybar.bottom > box {
  border-top: solid 2px #3d414c;
}

window#waybar.top > box {
  border-bottom: solid 2px #3d414c;
}

window > box {
  background-color: #262a2f;
}

tooltip {
  font-family: "Cascadia Code", "Symbols Nerd Font";
  background: #21252b;
  border: 1px solid #3d414c;
}

tooltip label {
  color: white;
}

widget > label:hover {
  background-color: #404652;
}

#clock {
  font-weight: bold;
}

#network.disconnected {
  color: #e06c75;
}

#tray {
  background-color: #262a2f;
}

#tray > .passive,
#tray > .active {
  padding: 12px;
  margin: 4px;
  border-radius: 4px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

/* https://github.com/Alexays/Waybar/wiki/Module:-Hyprland */

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #abb2bf;
  border-bottom: 3px solid transparent;
}

#workspaces button.focused {
  color: #61afef;
  background-color: green;
  border-bottom: 3px solid #61afef;
}

#workspaces button.urgent {
  background-color: #e06c75;
  color: #282c34;
}

#workspaces button:hover {
  background: rgba(171, 178, 191, 0.1);
  box-shadow: inherit;
  text-shadow: inherit;
}

window#waybar.empty #window {
  background-color: transparent;
}

window#waybar.fullscreen {
  opacity: 0;
}

#custom-logo {
  font-size: 18px;
}

#custom-notification:hover {
  background-color: #404652;
}

#custom-power {
  font-size: 18px;
}

#custom-notification {
  font-size: 16px;
  margin: 4px 0;
}

.modules-left > widget > *,
.modules-right > widget > * {
  margin: 4px 10px;
  border-radius: 3px;
  padding: 2px;
}
