[Desktop Entry]
Name=Godot
Exec=/home/econn/Apps/Godot/Godot
Comment=
Terminal=false
Icon=godot-mono
Type=Application
PrefersNonDefaultGPU=false
Hidden=false
