[Desktop Entry]
Name=Scrcpy
Exec=zsh -ic "adb connect 192.168.15.30 && scrcpy"
Comment=
Terminal=false
PrefersNonDefaultGPU=false
Icon=scrcpy
Type=Application
Hidden=false
NoDisplay=false
