[Desktop Entry]
Name=TIS-100
Exec=env WINEPREFIX="/home/econn/.wine" wine-stable C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\TIS-100\\ [GOG.com]\\\\TIS-100.lnk
Type=Application
StartupNotify=true
Path=/home/econn/.wine/dosdevices/c:/GOG Games/TIS-100
Icon=39A1_goggame-1436869408.0
StartupWMClass=tis100.exe
