/* Command Pallet */

.quick-input-widget {
  padding: 10px 10px 18px 10px !important;
}


.quick-input-filter .monaco-inputbox {
  border-radius: 8px !important;
  padding: 8px !important;
  border: none !important;
  font-size: 14px !important;
  margin-bottom: 16px !important;
}

/* Command Pallet */




/* Scrollbar */

.scrollbar.vertical .slider {
  width: 8px !important;
  border-radius: 4px;
  opacity: 0;

  background-color: rgba(78, 86, 102, 0.25);

  left: auto !important;
  right: 3px !important;
}

.scrollbar.vertical .slider:hover {
  background-color: rgba(78, 86, 102, 0.75);
}

div:hover>.scrollbar.vertical .slider {
  opacity: 1;
}

.scrollbar.horizontal .slider {
  height: 8px !important;
  border-radius: 4px;
  opacity: 0;

  background-color: rgba(78, 86, 102, 0.25);
}

.scrollbar.horizontal .slider:hover {
  background-color: rgba(78, 86, 102, 0.75);
}

div:hover>.scrollbar.horizontal .slider {
  opacity: 1;
}

.decorationsOverviewRuler {
  z-index: 10;
}

/* Scrollbar */




/* Sidebar panel Title */
.title-label>h2 {
  font-weight: bold !important;
  font-size: 1em !important;
}

/* Sidebar panel Title */




/* Fix Panel indentation */

.panel>.title {
  padding-left: 0px !important;
}

/* Fix Panel indentation */




/* Sticky widget */

.monaco-tree-sticky-container {
  border-bottom: 1px solid var(--vscode-editorWidget-border) !important;
}

.monaco-editor .sticky-widget {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2) !important;
}

.sticky-widget {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  width: 100% !important;
}

/* Sticky widget */




/* Align foldable files */

.explorer-folders-view .monaco-list-row .monaco-tl-row .monaco-tl-twistie {
  padding-right: 0;
  width: 0px;
}

.explorer-folders-view .monaco-list-row[aria-expanded] .monaco-tl-row .codicon-tree-item-expanded::before {
  margin-right: 20px;
}

.explorer-folders-view .monaco-list-row .monaco-icon-label {
  margin-left: 0px;
}

/* Align foldable files */




/* Remove activity bar top border */

.monaco-workbench .sidebar.pane-composite-part>.header {
  border: none;
}

/* Remove activity bar top border */





/* Custom tab seperator like google chrome*/

.tab {
  border: none !important;
}

.tab:not(:last-child):after {
  content: "";
  background-color: var(--vscode-tab-border);
  height: 1rem;
  align-self: center;
  width: 1px;
}

/* Custom tab seperator like google chrome*/




/* Center Line Number */

#status\.editor\.selection {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

/* Center Line Number */



/* Tab Top right background color matching tab color */

.tabs-and-actions-container .editor-actions {
  background-color: rgb(40 44 52);
  padding: 0 4px 0 8px !important;
  z-index: 10;
}

/* Tab Top right background color matching tab color */




/* Fix indentation on source control*/

.monaco-list-row[aria-label="Source Control Input"] .monaco-tl-twistie {
  padding-left: 0px !important;
}

.monaco-list-row[aria-label="Source Control Input"]+.monaco-list-row .monaco-tl-twistie {
  padding-left: 0px !important;
}

/* Fix indentation on source control*/
