[Desktop Entry]
Name=Game 1223291656732934377
Exec=/home/econn/Desktop/Sudachi/sudachi %u
Type=Application
NoDisplay=true
Categories=Discord;Games;
MimeType=x-scheme-handler/discord-1223291656732934377;
