[Desktop Entry]
Name=Ghostty
Exec=/home/econn/.local/bin/ghostty
Comment=
Terminal=false
Icon=aseprite
Type=Application
PrefersNonDefaultGPU=false
Hidden=true
