[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec='/home/econn/Apps/LDtk 1.5.3 installer.AppImage' %f
Name=LDtk 1.5.3 installer.AppImage
Comment=Custom definition for LDtk 1.5.3 installer.AppImage
