/* Custom font */

.mac,
.linux {
  font-family: "Cascadia Code";
}

/* Command Pallet */

.quick-input-widget {
  padding: 10px 10px 18px 10px;
}

.quick-input-filter .monaco-inputbox {
  border-radius: 8px;
  padding: 8px;
  border: none;
  font-size: 14px;
  margin-bottom: 16px;
}

/* Custom tab seperator like google chrome*/

.tab:not(:last-child):after {
  content: "";
  background-color: #3a3f4b;
  height: 1rem;
  align-self: center;
  width: 1px;
}

/* Center Line Number */

#status\.editor\.selection {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

/* Align icons to the center */

.sidebar > .header {
  justify-content: center;
  padding-left: 0px;
}

.sidebar > .header > div {
  flex-grow: 0 !important;
}

/* Scrollbar */

.scrollbar.vertical .slider {
  width: 8px !important;
  border-radius: 4px;
  opacity: 0;

  background-color: rgba(78, 86, 102, 0.25);

  left: auto !important;
  right: 3px !important;
}

.scrollbar.vertical .slider:hover {
  background-color: rgba(78, 86, 102, 0.75);
}

div:hover > .scrollbar.vertical .slider {
  opacity: 1;
}

.scrollbar.horizontal .slider {
  height: 8px !important;
  border-radius: 4px;
  opacity: 0;

  background-color: rgba(78, 86, 102, 0.25);
}

.scrollbar.horizontal .slider:hover {
  background-color: rgba(78, 86, 102, 0.75);
}

div:hover > .scrollbar.horizontal .slider {
  opacity: 1;
}

/* Align foldable files */

.explorer-folders-view .monaco-list-row .monaco-tl-row .monaco-tl-twistie {
  padding-right: 0;
  width: 0px;
}

.explorer-folders-view
  .monaco-list-row[aria-expanded]
  .monaco-tl-row
  .codicon-tree-item-expanded::before {
  margin-right: 14px;
}
